body {
    margin: 0;
    font-family: 'Franklin Gothic Medium';
}




a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
}

header{
    display: flex;
    min-height: 70px;
    background-color: rgb(0, 0, 0);
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    display : flex;
    align-items: center;
}

nav a {
    font-family: 'Franklin Gothic Medium';
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover {
    color: rgb(77, 77, 109);
}

footer {
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    color: white;
    padding: 10px 0;
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media (max-width: 700px) {
    header {
        flex-direction: column;
        height: auto;
        padding: 10px 0;
    }

    nav a {
        padding: 5px 0;
    }
}
